## Exercise 1: Exceptional Olympians

Scrape data from [this wikipedia site](https://en.wikipedia.org/wiki/List_of_multiple_Olympic_medalists) about exceptional Olympic medalists. 

1. Download the html using urllib. 
2. Parse this html with BeautifulSoup.
3. Extract the html that corresponds to the big table from the soup.
4. Parse the table into a pandas dataframe. Hint: both the "No." and the "Total." column use row-spans which are tricky to parse, both with a pandas reader and manually. For the purpose of this exercise, exclude all rows that are not easy to parse (the first one is Bjørn Dæhlie).
5. Create a table that shows for each country how many gold, silver, bronze, and total medals it won in that list.

In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import chardet as ch

Download the html using urllib. 
Parse this html with BeautifulSoup.

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_multiple_Olympic_medalists"

with urllib.request.urlopen(url) as response:
    html = response.read()
olympic_soup = BeautifulSoup(html, 'html.parser')
# we use pandas to read the table, this returns an array of dataframes, we take the first table
medals = pd.read_html(str(olympic_soup))[0]
medals

sum_of_medals = medals.groupby(['Nation']).sum().sort_values('Total',ascending=False)
sum_of_medals[['Gold','Silver','Bronze','Total']]
    
    
## long way

# with urllib.request.urlopen(url) as response:
#     html = response.read()
#     print(ch.detect(html))
#     html = html.decode('utf-8')
# olympic_soup = BeautifulSoup(html, "html.parser")
# olympic_soup.table

                                      Gold  Silver  Bronze  Total
Nation
United States                          162      62      46    270
Soviet Union                            55      50      29    134
Norway                                  59      31      18    108
Germany                                 38      34      20     92
Australia                               39      31      19     89
Japan                                   42      27      19     88
Italy                                   27      25      22     74
Hungary                                 38      20      14     72
Finland                                 30      13      14     57
Sweden                                  22      19       8     49
Netherlands                             20      16      10     46
Unified Team  Russia                    20      11       9     40
East Germany                            14      18       6     38
Jamaica                                 14      10       9     33
Romania                                 17       9       5     31
Russia                                   8       8      10     26
Great Britain                           18       4       2     24
France                                  11      10       2     23
Switzerland                              7      10       6     23
East Germany  Germany                    9       9       1     19
United Team of Germany  West Germany    11       1       3     15
China                                    5       6       3     14
Russia  ROC                              8       4       2     14
Czechoslovakia                           7       4       0     11
Soviet Union  Unified Team               4       5       1     10
Unified Team  Belarus                    6       0       4     10
Olympic Athletes from Russia  ROC        3       4       2      9
Belgium                                  6       3       0      9
South Korea  Russia                      6       0       2      8
Poland                                   3       2       2      7
Soviet Union  Kazakhstan                 1       4       2      7
Canada                                   1       2       4      7
Czech Republic                           3       2       2      7
Austria                                  3       1       3      7
Zimbabwe                                 2       4       1      7